<div class="container">

    <div class="row mt-1 mb-1 pt-1 pb-1">
        <div class="col-md-12">
            <h2 class="text-left">Order List</h2>
        </div>    
    </div>
    <div class="row mt-1 mb-1 pt-1 pb-1">
        <div class="col-md-12">
          <button (click)="addOrder()" style="font-size:16px">
            <i class="fa fa-plus" title="add order"></i>
        </button>
        </div>
    </div>    
    <div *ngFor="let orderItem of orders">
        <div class="row mt-1 mb-1 pt-1 pb-1 border-primary">
            <div class="col-md-2">
                <span class="text-muted font-weight-bold">Number:</span>
                <span class="text-muted font-weight-bold">{{orderItem.orderNumber}}</span> 
            </div>
            <div class="col-md-2">
                <span class="text-muted font-weight-bold">Price:</span>
                <span class="text-muted font-weight-bold">{{orderItem.price}}</span> 
            </div>
            <div class="col-md-2">
                <span class="text-muted font-weight-bold">Amount:</span>
                <span class="text-muted font-weight-bold">{{orderItem.amount}}</span> 
            </div>

            <div class="col-md-2">        
                <div class="pr-1 float-left">
                  <button (click)="editOrder(orderItem)" style="font-size:16px">
                    <i class="fa fa-edit" title="edit order"></i>
                </button>
                </div>
                <div class="pr-1 float-left">
                  <button (click)="deleteOrder(orderItem)" style="font-size:16px">
                    <i class="fa fa-trash" title="delete order"></i>
                </button>
                </div>
              </div>        
        </div>
    </div>
</div>          